* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.pdf binary
*.db  binary
*.sqlite binary
*.sqlite3 binary
*.ico binary

*.sh        text eol=lf
*.py        text eol=lf
*.ts        text eol=lf
*.tsx       text eol=lf
*.js        text eol=lf
*.jsx       text eol=lf
*.json      text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.md        text eol=lf
*.toml      text eol=lf
*.sql       text eol=lf
*.swift     text eol=lf

package-lock.json  -diff linguist-generated=true
